<p>template-driven-form-component works!</p>
<form #f="ngForm">
    <div>
        <p>Informations general : </p>
    <div class="form-group">
      <label for="formGroupExampleInput">Nom</label>
      <input type="text" class="form-control" name="Nom" [(ngModel)]="payment.nom" placeholder="Nom" required #nom="ngModel">
      <div *ngIf="nom.invalid && nom.touched"  class="alert alert-danger">
        <div>Nom must be required</div>
     </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Email</label>
      <input type="text" class="form-control" name="Title" [(ngModel)]="payment.email" placeholder="Email" pattern="^[a-zA-Z0-9._]+@[a-zA-Z0-9]+\.[a-zA-Z]{3}$" required #email="ngModel">
      <div *ngIf="email.invalid && email.touched"  class="alert alert-danger">
        <div *ngIf="email.errors?.['required']">Title must be required</div>
        <div *ngIf="email.errors?.['pattern']">Email not valid</div>
        </div>
    </div>
</div>
    <div>
        <p>Informations de payement : </p>
    <div class="form-group">
        <label for="formGroupExampleInput2">Type de carte</label>
        <input type="text" class="form-control" name="type" [(ngModel)]="payment.type" placeholder="Type de carte" #type="ngModel" required>
        <div *ngIf="type.invalid && type.touched">
            <div class="alert alert-danger" >Price must be required</div>
            </div>  
    </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Numero de carte</label>
        <input type="number" class="form-control" name="Numero de carte" [(ngModel)]="payment.numero" placeholder="Numero de carte" pattern="^\d{16}$" #numero="ngModel" required>
        <div *ngIf="numero.invalid && numero.touched" class="alert alert-danger">
            <div *ngIf="numero.errors?.['required']">numero must be required</div>
            <div *ngIf="numero.errors?.['pattern']">Number must be 16 number </div>
        </div>  
    </div>
<div class="form-group">
  <label for="formGroupExampleInput2">Date d'expiration</label>
  <input type="text" class="form-control" name="Date d'expiration" [(ngModel)]="payment.date" placeholder="Date d'expiration" #date="ngModel" required>
  <div *ngIf="date.invalid && date.touched" class="alert alert-danger">
    <div *ngIf="date.errors?.['required']">Date must be required</div>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Code</label>
    <input type="number" class="form-control" name="code" [(ngModel)]="payment.code" placeholder="Code" #code="ngModel" *ngIf="type.valid && numero.valid && date.valid" required>
     
</div>
</div>
</div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Ajouter</button>
  </form>